:root {
  --text-color: #242424;
  --footnote-color: #929292;
  --highlight-color: #0072b2;
  --sans: system-ui, "Segoe UI", Roboto, sans-serif;
  --heading: system-ui, "Segoe UI", Roboto, sans-serif;
  font: 18px/145% var(--sans);
}

* {
  box-sizing: border-box;
}

#root {
  width: 1126px;
  max-width: 100%;
}

:root {
  --chart-left-margin: 115px;
}

body {
  margin: 0;
  padding: 0;
  font-family: var(--sans);
  color: var(--text-color);
}

.container {
  width: 1000px;
  max-width: calc(100% - 80px);
  margin: 40px auto;
  position: relative;
}

.header {
  padding: 15px 0 10px 0;
  display: flex;
  justify-content: left;
}

h1 {
  font-family: var(--heading);
  font-size: 32px;
  text-align: left;
  margin: 0;
}

h1 .highlight-title {
  color: var(--highlight-color) !important;
}

.main {
  padding: 0;
}
